apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: konga
  name: konga-storage
  namespace: kong
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---